<h1>Create Heroine</h1>
<br>
<br>
<%= form_for @heroine do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :super_name %><br>
    <%= f.text_field :super_name %><br>
    <%= f.collection_select :power_id, @powers, :id, :name %>
    <%= f.submit %>
    <% end %>
    






