<%# Validation %>
<% if flash[:error] %>
    <% flash[:error].each do |msg| %>
        <br><%= msg %> </br>
    <% end %>
<% end %>

<%# Heroine Create Form %>
<h1> Create New Heroine </h1>
<%= form_for @heroine do |f| %>
    <br> Name: <%= f.text_field :name %> </br>
    <br> Super Name: <%= f.text_field :super_name %> </br>
    <br> Power: <%= f.collection_select :power_id, Power.all, :id, :name %></br>
    <br> <%= f.submit %> </br>
<% end %>
