<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <nav>
    <h3>Navigation Bar</h3>
    <ul>
    <div>Heroines' Index: <%= link_to "Take Me There", heroines_path %></div>
    <div>Powers' Index: <%= link_to "Take Me There", powers_path %></div>
    </ul>
    </nav>
  </body>
</html>
